<html xmlns="http://www.w3.org/1999/xhtml">
>	<head><title></title></head>
	<body>
		<hl> Film Listesi </hl>
		<div id= "filmler">
			<div class= "film">
			<p>@ViewBag.FilmBasligi</p>
			<p>@ViewBag.FilmAciklama</p>
			<p>@ViewBag.FilmYonetmen</p>
			<p>
				<ul>
				@foreach(var item in ViewBag.Oyuncular)
				{
					<li>item</li>
				}
			</ul>
			</p>
			</div>
		</div>
	</body>

</html>
